/* reset */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    height: 200px;
    background-color: #fdffdf;
}

#content {
    height: 500px;
    background-color: #f3d7b5;
}

#footer {
    height: 200px;
    background-color: #daf9ca;
}

#container {
    /* web page design width is 1200px */
    /* max-width should be wider than it */
    max-width: 1500px;
    margin: 0 auto;
}